@charset "UTF-8";
/* Основний колір фону та тексту */
:root {
  --primary-text-color: #212121;
  --white-text-color: #ffffff;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #f5f5f5;
  --section-background-color: #f5f4fa;
  --blok-background-color: #eeeeee;
  --footer-color: #2f303a;
  --border-line: #ececec;
  --fill-icon: #afb1b8;
  --animation-act-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-act-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-act-background: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-border-color: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --animation-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page {
  background-color: var(--white-text-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-size: 16px;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Приховані заголовки */
/* Прихована іконка чекбоксу */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 480px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* h2  */
.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  font-size: 28px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title-text {
  color: var(--title-text-color);
}

/* Хедер */
.header {
  border-bottom: 1px solid var(--border-line);
}

/* Хедер синя полоска current page  */
.current-page {
  display: inline-block;
  position: relative;
}

.current-page::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: "";
  background-color: var(--accent-color);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--white-text-color);
  z-index: 999;
  overflow: auto;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--primary-text-color);
}

.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  padding: 0;
  margin: 0;
  margin-bottom: auto;
}
.mobile__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.mobile__current {
  color: var(--accent-color);
}

.mobile__contact {
  margin-bottom: 64px;
}
.mobile__contact-phon {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  text-decoration: none;
  color: var(--accent-color);
}
@media screen and (max-width: 479px) {
  .mobile__contact-phon {
    font-size: 24px;
  }
}
.mobile__contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}

mobile__link .mobile-menu {
  margin-bottom: auto;
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-socials__item {
  position: relative;
}
.mobile-socials__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  background-color: rgba(33, 33, 33, 0.2);
  width: 1px;
  height: 100%;
}

/* Хедер Посилання на інші сторінки сайту емейл та телефон */
/* Общий родитель */
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav .contact {
  color: var(--title-text-color);
}

.site-nav-unit {
  padding-left: 0;
  margin-left: 93px;
  gap: 50px;
}
@media screen and (max-width: 767px) {
  .site-nav-unit {
    display: none;
  }
}

.site-nav-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .site-nav-panel {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav-panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav-panel {
    gap: 50px;
  }
}

.site-nav-unit .item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  color: var(--primary-text-color);
}

.contact {
  text-align: center;
}

.transition-act {
  -webkit-transition: var(--animation-act-color);
  transition: var(--animation-act-color);
}

.site-nav .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--title-text-color);
}

.site-nav .item:focus,
.site-nav .contact:focus,
.site-nav .contact:hover,
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.address-footer:focus,
.address-footer:hover,
.mail-footer:focus,
.mail-footer:hover,
.tel-footer:focus,
.tel-footer:hover {
  color: var(--accent-color);
}

.contact-link {
  fill: currentColor;
  margin-right: 10px;
}

.site-nav .link,
.site-nav .contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding-top: 116px;
  padding-bottom: 118px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.main-headline {
  color: var(--white-text-color);
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .main-headline {
    max-width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .main-headline {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
}
@media screen and (max-width: 767px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_sm.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_sm.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_sm@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_sm@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_md.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_md@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_md@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_lg.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_lg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_lg@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_lg@2x.jpg);
  }
}

/* Переваги */
@media screen and (min-width: 768px) {
  .advantage__item {
    width: 354px;
  }
}
.advantage__text {
  line-height: 1.71;
  color: var(--title-text-color);
}
.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .advantage__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 1199px) {
  .advantage__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.advantage__icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: var(--section-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-transition: var(--animation-act-color), var(--animation-act-background);
  transition: var(--animation-act-color), var(--animation-act-background);
}
.advantage__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .advantage__title {
    text-align: center;
  }
}

/* Наші роботи чим ми займаємося */
.projects {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .projects {
    display: none;
  }
}
.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.projects__item {
  position: relative;
}
.projects__text {
  padding: 27px 0;
  position: absolute;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--white-text-color);
  bottom: 0;
  left: 0;
}
.projects__item + .projects__item {
  margin-left: 30px;
}

/* Наша команда */
.team {
  background-color: var(--section-background-color);
  text-align: center;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  margin-bottom: 10px;
}
.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
.team__card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-text-color);
}
.team__people {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__people {
    padding-bottom: 30px;
  }
}

.team__picture {
  display: inline-block;
}

@media screen and (min-width: 480px) {
  .team__card {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    width: 270px;
  }
}

/* Партнери */
.partners {
  text-align: center;
}
.partners__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.partners__logo {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
.partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid var(--fill-icon);
  border-radius: 4px;
  -webkit-transition: var(--animation-act-color), var(--animation-border-color);
  transition: var(--animation-act-color), var(--animation-border-color);
}
@media screen and (min-width: 768px) {
  .partners__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .partners__link {
    width: 170px;
  }
}
.partners__link:hover, .partners__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

/* Футер */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-block {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -ms-flex-wrap: none;
        flex-wrap: none;
  }
}

.address-footer,
.mail-footer,
.tel-footer {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}

.address-footer {
  color: #ffffff;
}

.mail-footer,
.tel-footer {
  color: rgba(255, 255, 255, 0.6);
}

.address {
  margin-top: 20px;
}

.footer-link:not(:last-child) {
  margin-bottom: 9px;
}

.join-block {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .join-block {
    margin-top: 0;
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .join-block {
    margin-left: 70px;
  }
}

.footer-text {
  margin-bottom: 20px;
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}

.footer-join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: var(--white-text-color);
  -webkit-transition: var(--animation-act-color), var(--animation-act-background);
  transition: var(--animation-act-color), var(--animation-act-background);
}

.footer-social-link:focus,
.footer-social-link:hover {
  background-color: var(--accent-color);
}

.footer-send-block {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-send-block {
    margin-left: 93px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-send-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.send-email {
  margin-bottom: 20px;
  max-width: 450px;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  background-color: inherit;
  color: var(--white-text-color);
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
}
@media screen and (min-width: 1200px) {
  .send-email {
    width: 358px;
  }
}

.btn-send-email {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .btn-send-email {
    margin-left: 12px;
  }
}

.send-email-icon {
  margin-left: 10px;
}

/* Приклади робіт */
.example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
  .overlay-block-in {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .overlay-block-in {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .overlay-block-in {
    width: 370px;
  }
}

.exemple-overlay-block {
  position: relative;
  overflow: hidden;
}

.exemple-overlay {
  position: absolute;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exemple-overlay-text {
  width: 322px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.example-link:hover .exemple-overlay,
.example-link:focus .exemple-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.example-project {
  padding: 20px 24px;
  border: 1px solid var(--blok-background-color);
  border-top: none;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.examples-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-examples .title-text {
  font-size: 16px;
  line-height: 1.87;
}

.example-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo-footer {
  color: var(--white-text-color);
}

.partlogo {
  color: var(--accent-color);
}

.main-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 24px;
  margin-top: 30px;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .main-button {
    padding: 10px 32px;
  }
}

/* Кнопки в портфоліо фільтр робіт*/
.second-button {
  background-color: var(--section-background-color);
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  -webkit-transition: var(--animation-act-background), var(--animation-act-color), var(--animation-shadow);
  transition: var(--animation-act-background), var(--animation-act-color), var(--animation-shadow);
}

.second-button:focus,
.second-button:hover {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.container-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .container-filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.container-filter .item + .item {
  margin-left: 8px;
}

.example-link {
  display: block;
  -webkit-transition: var(--animation-shadow);
  transition: var(--animation-shadow);
}

.example-link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.shadow-item:focus,
.shadow-item:hover {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: var(--fill-icon);
  border-radius: 50%;
  -webkit-transition: var(--animation-act-color), var(--animation-act-background);
  transition: var(--animation-act-color), var(--animation-act-background);
}

.social__link:hover,
.social__link:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.social__icon {
  fill: currentColor;
}

/* Модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 581px;
  width: 450px;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--white-text-color);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-text-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  padding: 0;
  cursor: pointer;
}
.modal__close {
  fill: #000000;
  -webkit-transition: var(--animation-act-color);
  transition: var(--animation-act-color);
}
.modal__close:focus, .modal__close:hover {
  fill: var(--accent-color);
}

/* callback-form */
.form__title {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.request__text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--title-text-color);
}
.request__field {
  display: block;
  min-width: 370px;
  height: 40px;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: var(--animation-border-color);
  transition: var(--animation-border-color);
}
@media screen and (min-width: 1200px) {
  .request__field {
    width: 448px;
  }
}
.request__label {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.request__icon {
  position: absolute;
  left: 11px;
  bottom: 11px;
  -webkit-transition: var(--animation-act-color);
  transition: var(--animation-act-color);
}
.request__field:focus {
  border-color: var(--accent-color);
}
.request__field:focus + .request__icon {
  fill: var(--accent-color);
}

/* поле для текста */
.feedback {
  margin-bottom: 20px;
}
.feedback__form {
  display: block;
  width: 370px;
  height: 120px;
  padding: 12px 16px;
  outline: none;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .feedback__form {
    width: 448px;
  }
}
.feedback__form:focus {
  border-color: var(--accent-color);
}
.feedback__form::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.feedback__form::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.feedback__form:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.feedback__form::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.feedback__form::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
}
.agreement__text {
  font-size: 12px;
  line-height: 1.71;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .agreement__text {
    font-size: 14px;
  }
}
.agreement__link {
  font-size: 12px;
  line-height: 1.71;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .agreement__link {
    font-size: 14px;
  }
}
.agreement__icon--check {
  opacity: 0;
  background-origin: border-box;
  fill: var(--accent-color);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement__checkbox:checked + .agreement__icon .agreement__icon--check {
  opacity: 1;
}
.agreement__checkbox:checked + .agreement__icon .agreement__icon--box {
  opacity: 0;
}

/* Іконки */
.request_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */