.hero {
  text-align: center;
  padding-top: 116px;
  padding-bottom: 118px;
  @media screen and (min-width: 768px) {
    padding-top: 118px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.main-headline {
  color: var(--white-text-color);
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    max-width: 360px;
  }

  @media screen and (min-width: 768px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.overlay {
  max-width: 1600px;
  // min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  //   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //     url(../images/hero.jpg);

  @media screen and (min-width: 480px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_sm.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img_sm@2x.jpg);
    }
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_md.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img_md@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_lg.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img_lg@2x.jpg);
    }
  }
}
