/* Наша команда */

.team {
  background-color: var(--section-background-color);
  text-align: center;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

&__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  margin-bottom: 10px;
}

&__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

&__card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-text-color);
}

&__people {
  padding-top: 30px;
  padding-bottom: 24px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.team__picture {
  display: inline-block;
}

.team__card {
  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
